@rendermode InteractiveServer

<Button Color="ButtonColor.Primary" @onclick="ShowModal">@ButtonTitle</Button>

<Modal @ref="_modal" Title="Search">
    <BodyTemplate>
        <form class="form-floating mb-3">
            <div class="input-group">
                <span class="input-group-text"><Icon Name="IconName.Search"/></span>
                <div class="form-floating">
                    <InputText
                        @bind-Value="Query"
                        id="bookSearch"
                        name="bookSearch"
                        class="form-control"
                        placeholder=""
                        type="search"
                        autocomplete="off"
                        @oninput="args => OnInputHandler((string?)args.Value)"
                    />
                    <label for="bookSearch">Book Title</label>
                </div>
            </div>
        </form>
        @if (_searching)
        {
            <div class="d-flex justify-content-center">
                <Spinner/>
            </div>
        }
        else if (_books != null)
        {
            if (_books.totalItems > 0)
            {
                <div class="search-results d-flex flex-column gap-2">
                    @foreach (var book in _books.items)
                    {
                        var bookInfo = book.volumeInfo;
                        string? image = null;
                        if (bookInfo.imageLinks != null && bookInfo.imageLinks.thumbnail != null)
                        {
                            image = bookInfo.imageLinks.thumbnail;
                        }

                        string? isbn = "ISBN Not Specified";
                        if (bookInfo.industryIdentifiers?.FirstOrDefault()?.identifier != null)
                        {
                            isbn = bookInfo.industryIdentifiers.FirstOrDefault()?.identifier;
                        }

                        <BookItem
                            Id="@book.id"
                            Title="@bookInfo.title"
                            Authors="@bookInfo.authors"
                            Description="@bookInfo.description"
                            Image="@image"
                            Isbn="@isbn"
                            OnClick="args => OnBookClick(args, book)"
                        />
                    }
                </div>
            }
            else
            {
                <p>Could not find any films</p>
            }
        }
    </BodyTemplate>
</Modal>
